<br><br>
<div class="row">

	<div class="small-8 columns end list">
		<div class="small-12 column">
			<span id="setting_subtitle1">Add User</span>
			<span id="setting_subtitle2">out next task-slayer</span>
		</div>

    <div class="row">

      <div class= "small-8 columns">
        <div>Name<span class="asterik">*</span></div>
        <form name="form1">
    		    <input type="search" name="search" placeholder="name" ng-model="username" required>
        </form>
      <div ng-show="(submitted) && form1.search.$error.required" class="reminder">Name is required</div>

<br>
      <div>Email<span class="asterik">*</span></div>
      <form name="form2">
          <input type="search" name="search" placeholder="email" ng-model="email" required>
      </form>
      <div ng-show="(submitted) && form2.search.$error.required" class="reminder">Email is required</div>
<br>
      <button id="submit_button" class="small-push-3 end button default" ng-click="postUser()">Submit</button>
<br><br>
      <div ng-show="submitSuccess" class="suc_msg"> <div class="inner_suc_msg">User {{enteredUser}} has been added!</div></div>
      <div ng-show=" error" class="err_msg">  <div class="inner_err_msg">{{err_msg}}</div></div>
    </div>
  </div>
  </div>

	<div class="small-4 columns">
		<a href="#/users" class="small-8 columns small-push-1 end button default button_group">Users</a><br><br>
		<a href="#/tasks" class="small-8 columns small-push-1 end button default button_group">Tasks</a>
		<a href="#/settings" class="small-8 columns small-push-1 end button default button_group">Settings</a>

	</div>
</div>
<br><br><br><br>
<div class="row ending"></div>
